*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

$dark: #171718;
$white: #fff;
$purple: #5C62EC; 
$dark-bg: #242425;
:root{
    --white: #fff;
    --black: #171718;
    --bg: var(--white);
    --bg2: var(--white);
    --font: var(--black);
    --head-font: #5C62EC;
}

.dark{
    background: $dark-bg;
    color: $white;
    --bg: var(--white);
    --bg2: var(--black);
    --font: var(--white);
    --head-font: var(--white);
}
body{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: $dark;
}

.wrapper{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.nav-border{
    border-bottom: 1px solid #26292D;
    background: $dark;
    position: fixed;
    width: 100%;
    z-index: 10;
    @media (max-width:768px) {
        position: relative;
    }
}
.header {
    background: $dark url(images/Abstract.png) no-repeat;
    background-position: 50% 75%;
    position: relative;
}
.nav {
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}
.logo {
    a{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        color: #FFFFFF;
    }
    .spanlogo{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        color: #FFFFFF;
    }
}
.toggle{
    cursor: pointer;
    order: 1;
    background: #272727;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        padding: 5px;
        position: relative;
        z-index: 2;
    }
    position: relative;
    &::after{
        content: '';
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: white;
        position: absolute;
        left: 1px;
        top: 1px;
        z-index: 1;
        transition: left .2s;
    }
}
.toggle-active::after{
    left: 26px;
}
.nav-list {
    margin-left: auto;
    display: flex;
    list-style-type: none;
    @media (max-width:768px) {
        margin-right: auto;
        margin-left: 0;
    }
}
.nav-item {
    margin-right: 40px;
    &:last-child{
        margin-right: 0;
    }
}
.active{
    border-bottom: $purple 3px solid;
    color: #fff !important;
}
.nav-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    transition: .25s;
    &:hover{
        color: $purple;   
    }
}
.greetings {
    margin-top: 250px;
    margin-bottom: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width:768px) {
        font-size: 30px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
.greet-hldr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.greet-title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FAFAFA;
    margin-bottom: 20px;
    max-width: 970px;
    @media (max-width:768px) {
        font-size: 30px;
    }
    .title-word{
        color: $purple;
    }
    .smaller-text{
        font-size: 40px;
        @media (max-width:768px) {
            font-size: 20px;
        }
    }
}
.greet-subtitle {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    margin-bottom: 40px;
    max-width: 304px;
    @media (max-width:768px) {
        font-size: 14px;
    }
}
.greet-btn {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    padding: 12px 28px;
    background: $purple;
    border-radius: 5px;
    transition: .25s;
    display: inline-block;
    width: 160px;
    &:hover{
        background: #4b4fbe;
    }
    &:active{
        position: relative;
        top: 1px;
    }
}

.projects {
    padding-top: 70px;
    margin-bottom: 70px;
    @media (max-width:768px) {
        margin-bottom: 30px;
        margin-top: 30px;
    }
}
.project-title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.5px;
    color: var(--head-font);
    margin-bottom: 60px;
    @media (max-width:768px) {
        font-size: 50px;
        margin-bottom: 30px;
    }
}
.proj-content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
}
.proj-item {
    background: #FFFFFF;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: var(--bg2);
}
.img-item {
    border-radius: 10px;
    max-width: 370px;
    overflow: hidden;
    .img-proj{
        border-radius: 10px;
        display: block;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .35s;
        &:hover{
            scale: 1.05;
        }
    }
}
.proj-title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.5px;
    color: --font;
    margin: 15px 20px 25px;
}

.footer {
    background: $dark;
    padding: 50px 0;
}
.footer-icons {
    text-align: center;
    margin-bottom: 27px;
    a{
        margin-right: 30px;
            &:last-child{
                margin-right: 0;
        }
        path{
            transition: .25s;
        }
        &:hover path{
            fill: $purple;
        }
        width: 38px;
        @media (max-width:768px) {
            width: 35px;
        }
    }
}
.rights {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    @media (max-width:768px) {
        font-size: 12px;
        font-weight: 400;
    }
}

.project-page {
    margin-top: 70px;

}
.page-proj-title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.5px;
    color: var(--head-font);
    margin-bottom: 40px;
    @media (max-width:768px) {
        font-size: 50px;
        margin-bottom: 30px;
        line-height: 1;
    }
}
.page-proj-img {
    width: 865px;
    border-radius: 10px;
    margin-bottom: 40px;
    margin: 0 auto 40px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    img{
        border-radius: 10px;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
    @media (max-width:868px) {
        width: auto;
    }
}
.skills-info {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%; 
    text-align: center;
    letter-spacing: -0.5px;  
    margin-bottom: 30px;
}
.repo-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.repo-link{
    background: var(--bg);
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 12px 20px;
    display: inline-flex;
    align-items: center;
    transition: .25s;
    &:hover path{
        fill: $purple;
    }
    &:hover{
        background: $dark;
    }
    &:hover .repo-title{
        color: #fff;
    }
    svg{
        width: 24px;
        height: 24px;
        margin-right: 10px;
    
        path{
            fill: $dark;
            transition: .25s;
        }
    }
}
.repo-title {
    transition: .25s;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: $dark;
}

.skills-page{
    margin-top: 140px;
    @media (max-width:768px) {
        margin-top: 30px;
    }
    
}
.skills-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 150px;
    @media (max-width:768px) {
        margin-bottom: 30px;
    }
}

.front-bl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    @media (max-width:768px) {
        margin-bottom: 45px;
    }
}
.front-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    margin-bottom: 20px;
    text-align: center;
    @media (max-width:768px) {
        font-size: 30px;
        margin-bottom: 10px;
    }
    
}
.front-subtitletitle {
    font-weight: 400;
    font-size: 18px; 
    line-height: 150%;
    max-width: 570px;
    text-align: center;
    @media (max-width:768px) {
        font-size: 20px;
    }
    a{
        color: $purple;
    }
}
.purp{
    color: $purple;
    a{
        color: $purple;
    }
}
.footer{
    margin-top: auto;
}

html, body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.footer-icons{
    display: flex;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px;
    @media (max-width:768px) {
        padding: 35px 15px;
    }
}